body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
}

.right-side-container {
    border: 1px solid black;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
}

img {
    height: 20px;
}

p {
    display: inline-block;
    /* margin: 0; */
    font-size: 15px;
}

.reaction {
    color: red;
}

.memory {
    color: yellow;
}

.verbal {
    color: green;
}

.visual {
    color: blue;
}


.summary {
    font-weight: 500;
    font-size: 20px;
}